/*     
    https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    https://www.w3schools.com/css/css_rwd_grid.asp
    https://www.w3schools.com/howto/howto_js_topnav_responsive.asp    
*/


/* ====================  mobile first =====================     */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size:12px;
}
body {
    /* overflow: hidden;    */
   background-color: green;
    user-select: none;
    background-color: white;
   
    padding: 8px;
    margin:0px;
    }

.main-img>img{
        width:100%;
        }    


.row::after {
            content: "";
            clear: both;
            display: table;
} 
        
    
footer{
    padding:10px;
    text-align: center;
    background-color: black;   
    color:white; 
}

footer a{   
    color:white; 
}

[class*="col-"] {
    width:100%;
   
}
.project img{
    width:100%;
   
    margin:0px;
}


.project button{
    background-color: rgb(177, 177, 177);
    border: none;
    text-align: center;
    padding: 7px;
    margin: 0px;
    width: 100%;
  }
  h2{
    font-size: 1.2em;
    color:rgb(92, 92, 92);
    border-bottom:1px solid gray;
    padding: 5px 2px 5px 2px;
    margin:0px;
}

.project{
    padding:5px;
    margin: 0px;

}
.project h4{
    margin: 0px;
    padding: 2px;
}
.project p{
    margin: 0px;
    padding: 6px;
}
nav a:hover {
    background-color: rgb(143, 143, 143);
    color: black;
  }
  

/* ------------------------ menu -------------------- */
nav{
    padding:0px;
    margin:0px;
    background-color: black;
}

.menu {
    overflow: hidden;
  }

  .menu a:first-child {
    padding-left:calc(100% - 228px);
    }
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: black;
  }
  .menu .icon {
    display: none;
  }
  .logo{
      text-decoration: none;
      color: #f2f2f2;
      display: inline;
  }


  /* ========= if mobile resolution ====  screen < 360px */
  @media screen and (max-width: 360px) {
 

    .menu  a{
        display: none;    
    }


    .menu a.icon {
      float: right;
      display: block;
      padding: 12.5px 16px;
    }
  
    .menu.responsive {
        position: relative;
    }
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding-left:10px;
    }
  }


/* ========= if Desktop resolution ====  screen > 360px */
@media only screen and (min-width: 360px) {
/* ------------------------ menu -------------------- */
    body{
        /* overflow: hidden;    */      
        font-size:1em;
    }

    [class*="col-"] {
        float: left;   
       
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


   
}    